/* wrapper around the 'header' that contains the input box */
.quick-input-widget .ibwrapper {
    border: 1px solid color-mix(in srgb, var(--vscode-widget-border) 50%, transparent);
    box-shadow: 0 0 2px 0 color-mix(in srgb, var(--vscode-widget-border) 50%, black);
    border-radius: 6px;
    background-image: linear-gradient(to right, color-mix(in srgb, var(--vscode-quickInput-background) 85%, black), color-mix(in srgb, var(--vscode-quickInput-background) 85%, black));
}

/* another header that contains the input box - similar but not exactly the same as above */
.quick-input-widget>.quick-input-header {
    border-bottom: 2px solid var(--vscode-widget-border);
}

/* scrollbar on right */
.quick-input-widget .scrollbar.vertical {
    width: 4px !important;
    &>div.slider {
        border-radius: 1px !important;
    }
}

/* applied to each row as it gets lazy-instantiated */
@keyframes quickInputRowShowAnim {
    0% {
        left: -5px;
        opacity: 0;
        filter: blur(5px);
    }
    50% {
        filter: blur(0px);
    }
    75% {
        left: 0px;
    }
    100% {
        opacity: 1;
    }
}
/* applies above animation to each row as it gets lazy-instantiated */
.quick-input-widget .monaco-list-rows>div.monaco-list-row {
    animation: quickInputRowShowAnim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* applied to the *container* of the item list as it gets shown */
@keyframes quickInputShowListItemsAnim {
    0% {
        opacity: 0;
        transform: skewY(3.14deg);
    }
    100% {
        opacity: 1;
        transform: skewY(0deg);
    }
}

/* applied to the *container* of the item list as it gets shown */
.quick-input-list>.monaco-list>.monaco-scrollable-element {
    animation: quickInputShowListItemsAnim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards !important;
}

/* applied to each row as it gets shown */
.quick-input-list .monaco-list-row {
    transition: border-width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /* actual label text for this row */
    & .quick-input-list-label .label-name>.monaco-highlighted-label {
        position: relative;
        left: 0px;
        transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    /* when this row is currently focused */
    &.focused {
        border: 1px solid color-mix(in srgb, var(--vscode-list-focusOutline) 50%, transparent);

        /* label text for row while focused */
        & .quick-input-list-label .label-name>.monaco-highlighted-label {
            position: relative;
            margin-top: -2px;
            left: 2.5px;
            text-shadow: 0 0 2px var(--vscode-list-focusOutline);
        }
    }
}

/* applied to the *container* of the widget as it gets shown */
@keyframes quickInputWidgetShowAnim {
    0% {
        opacity: 0;
        rotate: 5deg;
        backdrop-filter: blur(0px) hue-rotate(180deg);
    }
    25% {
        backdrop-filter: blur(10px) saturate(85%) brightness(75%) hue-rotate(90deg);
    }
    100% {
        opacity: 1;
        rotate: 0deg;
        backdrop-filter: blur(3px) saturate(0%) brightness(100%) hue-rotate(0deg);
    }
}

/* actual widget as a whole */
.quick-input-widget {
    animation: quickInputWidgetShowAnim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    border-width: 5px !important;
    border-style: double !important;
    border-radius: 6px !important;
}