.quick-input-widget .ibwrapper {
    border: 1px solid color-mix(in srgb, var(--vscode-widget-border) 50%, transparent);
    box-shadow: 0 0 2px 0 color-mix(in srgb, var(--vscode-widget-border) 50%, black);
    border-radius: 6px;
    background-image: linear-gradient(to right, color-mix(in srgb, var(--vscode-quickInput-background) 85%, black), color-mix(in srgb, var(--vscode-quickInput-background) 85%, black));
}

.quick-input-widget .scrollbar.vertical {
    width: 4px !important;
    &>div.slider {
        border-radius: 1px !important;
    }
}

@keyframes quickInputRowShowAnim {
    0% {
        left: -5px;
        opacity: 0;
        filter: blur(5px);
    }
    50% {
        filter: blur(0px);
    }
    75% {
        left: 0px;
    }
    100% {
        opacity: 1;
    }
}

.quick-input-widget .monaco-list-rows>div.monaco-list-row {
    animation: quickInputRowShowAnim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes quickInputWidgetShowAnim {
    0% {
        opacity: 0;
        rotate: 5deg;
        backdrop-filter: blur(0px) hue-rotate(180deg);
    }
    25% {
        backdrop-filter: blur(10px) saturate(85%) brightness(75%) hue-rotate(90deg);
    }
    100% {
        opacity: 1;
        rotate: 0deg;
        backdrop-filter: blur(3px) saturate(0%) brightness(100%) hue-rotate(0deg);
    }
}

.quick-input-widget {
    animation: quickInputWidgetShowAnim 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    border-width: 5px !important;
    border-style: double !important;
    border-radius: 6px !important;
}

.quick-input-widget>.quick-input-header {
    border-bottom: 2px solid var(--vscode-widget-border);
}