/* need to ensure disconnected trails don't interfere with editor interaction */
.vsbloom-disconnected-cursor-trail-effect {
    pointer-events: none !important;
}

/* this is the actual container in <body> that holds the disconnected trails */
.vsbloom-disconnected-cursor-trail-effect-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
}

/* this is gonna be a canvas rendered by pixi.js for solid trails */
.vsbloom-cursor-trail-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
}